%caroussel {
    position: absolute;
    display: inline-block;
    width: 50%;
    box-shadow: 1rem 1rem 3rem rgba(0,0,0,.5);
    transition: all .3s;
    opacity: .9;

        @include respond(tab-port){
            width: 30%;

        }

        //     float: left;
        //     position: relative;
        //     width: 33.3333%;
        //     box-shadow: 0 1.5rem 3rem  rgba($color-black, .2)
        // }

    &:hover{
        transform: scale(1.4) translateY(-.6rem);
        //border: 1rem solid $color-primary-light;
        outline: .5rem inset $color-primary-light;
        z-index: 1000;
        opacity: 1
    }

  



}


%featurebox{
   // width: 80%;

    background-color:$color-white;
    font-size: 1.5rem;
    opacity: .8 !important;
    text-align: center;
    padding: 2rem;
    border-radius: .5rem;
    
    transition: all .3s;
   // transform: skewY(7deg)!important;


   @include respond(tab-port){
       padding: 1.5rem;
       
   }

   &:hover{
    transform: scale(1.1) translateY(-1.5rem) !important;//skewY(7deg) !
    box-shadow: 2rem 2rem 7rem rgba($color-primary-light, 0.541);

   }

    
}

%card-style{
    color: black;
    //background-color:orangered;
    height: 53rem;
    transition: all 1s ease;   

}
