$color-primary:#55c57a;
$color-primary-light:#7ed56f;
$color-primary-dark:#28b485;
$color-grey-dark:rgb(92, 90, 90);
$color-grey-dark-2:rgb(196, 195, 195);
$col-bg-color:rgb(247, 139, 139);
$color-grey-light-1:#f7f7f7;
$color-white:white;
$color-black:black;
$color-bg-main:#f7f7f7;
$color-grey-light-2:#eee;
//popular tours color

$color-secondary-light:#FFA449;
$color-secondary-dark:rgb(197, 99, 0);


$color-tertiary-light:#2998ff;
$color-tertiary-dark:#4b38f1;




$col:12;
//$row-height:1rem;
$horizontal-gutter:6rem;
$base_width:calc((100% - ((#{$col} - 1) * #{$horizontal-gutter})) / #{$col});
$max-width:120rem;
$vertical-gutter:6rem;
$vertical-gutter-small:6rem;
//font-size
$default-font-size:1.5rem;

