/*
0-600px: Phone
600px:900px Tablet protrait
900px:1200px Tablet landscape
1200px:1800px DEFAULT
1800px + Big desktop

*/
*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 52%; } }
  @media (max-width: 37.5em) {
    html {
      font-size: 50%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 80%; } }

body {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.7; }
  @media (max-width: 56.25em) {
    body {
      padding: 0; } }

.u-center-text {
  text-align: center; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

.u-margin-bottom-medium {
  margin-bottom: 5rem; }

.u-margin-bottom-small {
  margin-bottom: 1rem; }

.u-div-center {
  width: 20%;
  margin: 0 auto;
  margin-bottom: 12rem; }

.u-margin-top-small {
  margin-top: .4rem; }

.u-z--1 {
  z-index: 100;
  top: 1px;
  left: 1px; }
  @media (max-width: 56.25em) {
    .u-z--1 {
      top: 0px;
      left: 0px; } }

.u-z--2 {
  z-index: 200;
  top: 5rem;
  left: 20rem; }
  @media (max-width: 56.25em) {
    .u-z--2 {
      top: 0;
      left: 40rem; } }

.u-z--3 {
  z-index: 300;
  top: 10rem;
  left: 11rem; }
  @media (max-width: 56.25em) {
    .u-z--3 {
      top: 5rem;
      left: 20rem; } }

.u-z--4 {
  z-index: 300;
  top: 7rem;
  left: 20rem; }

.heading-primary {
  color: white;
  text-transform: uppercase;
  margin-bottom: 6rem; }
  .heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation-name: moveInLeft;
    animation-duration: 2s;
    animation-timing-function: ease-out; }
    @media (max-width: 56.25em) {
      .heading-primary--main {
        letter-spacing: 1rem;
        font-size: 4rem; } }
    @media (max-width: 37.5em) {
      .heading-primary--main {
        letter-spacing: .5rem;
        font-size: 3rem; } }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.9rem;
    animation: moveInRight 2s ease-out;
    color: white; }
    @media (max-width: 56.25em) {
      .heading-primary--sub {
        letter-spacing: 1rem;
        font-size: 1.5rem; } }
    @media (max-width: 37.5em) {
      .heading-primary--sub {
        letter-spacing: .5rem; } }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #55c57a, #7ed56f);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: .2rem;
  transition: all .2s; }
  @media (max-width: 56.25em) {
    .heading-secondary {
      font-size: 3rem; } }
  @media (max-width: 75em) {
    .heading-secondary {
      font-size: 3rem; } }
  @media (max-width: 56.25em) {
    .heading-secondary {
      font-size: 3rem; } }
  @media (max-width: 37.5em) {
    .heading-secondary {
      font-size: 2.5rem; } }
  .heading-secondary:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(92, 90, 90, 0.3); }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }
  .paragraph--popup {
    width: 45%;
    display: inline-block;
    margin-right: 3rem; }

.container {
  max-width: 120rem;
  margin: 0 auto; }
  .container .row {
    width: 100%; }
    @media (max-width: 56.25em) {
      .container .row {
        width: 60%;
        margin: 0 auto; } }
    .container .row::after {
      content: "";
      display: block;
      clear: both; }
    .container .row:not(:last-child) {
      margin-bottom: 6rem; }
      @media (max-width: 56.25em) {
        .container .row:not(:last-child) {
          margin-bottom: 6rem; } }
    .container .row [class^='col-'] {
      float: left; }
      .container .row [class^='col-']:not(:last-child) {
        margin-right: 6rem; }
        @media (max-width: 56.25em) {
          .container .row [class^='col-']:not(:last-child) {
            margin-right: 0;
            margin-bottom: 6rem; } }
      @media (max-width: 56.25em) {
        .container .row [class^='col-'] {
          width: 100% !important; } }
    .container .row .col-1-of-12 {
      width: calc((calc((100% - ((12 - 1) * 6rem)) / 12) * 1) + ((1 - 1) * 6rem)); }
    .container .row .col-2-of-12 {
      width: calc((calc((100% - ((12 - 1) * 6rem)) / 12) * 2) + ((2 - 1) * 6rem)); }
    .container .row .col-3-of-12 {
      width: calc((calc((100% - ((12 - 1) * 6rem)) / 12) * 3) + ((3 - 1) * 6rem)); }
    .container .row .col-4-of-12 {
      width: calc((calc((100% - ((12 - 1) * 6rem)) / 12) * 4) + ((4 - 1) * 6rem)); }
    .container .row .col-5-of-12 {
      width: calc((calc((100% - ((12 - 1) * 6rem)) / 12) * 5) + ((5 - 1) * 6rem)); }
    .container .row .col-6-of-12 {
      width: calc((calc((100% - ((12 - 1) * 6rem)) / 12) * 6) + ((6 - 1) * 6rem)); }
    .container .row .col-7-of-12 {
      width: calc((calc((100% - ((12 - 1) * 6rem)) / 12) * 7) + ((7 - 1) * 6rem)); }
    .container .row .col-8-of-12 {
      width: calc((calc((100% - ((12 - 1) * 6rem)) / 12) * 8) + ((8 - 1) * 6rem)); }
    .container .row .col-9-of-12 {
      width: calc((calc((100% - ((12 - 1) * 6rem)) / 12) * 9) + ((9 - 1) * 6rem)); }
    .container .row .col-10-of-12 {
      width: calc((calc((100% - ((12 - 1) * 6rem)) / 12) * 10) + ((10 - 1) * 6rem)); }
    .container .row .col-11-of-12 {
      width: calc((calc((100% - ((12 - 1) * 6rem)) / 12) * 11) + ((11 - 1) * 6rem)); }
    .container .row .col-12-of-12 {
      width: calc((calc((100% - ((12 - 1) * 6rem)) / 12) * 12) + ((12 - 1) * 6rem)); }
